*, *::after, *::before {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", 
    sans-serif;
    -webkit-text-size-adjust: 100%;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content:center;
    padding: 20px 20px;
    gap: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    gap: 1rem;
}

.scores {
    font-size: 100px;
    background-color: azure;
    width: 100px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
}

.history {
    background-color: azure;
    width: 300px;
    height: 200px;
    margin: auto;
}

button {
    font-size: 16px;
    margin: 2px;
}

button:hover {
    border: 2px solid rgba(0,0,0,.8);
}

button.rock {
    color: red;
}

button.paper {
    color: blue;
}

button.scissors {
    color: green;
}